/* Element Selectors */

body {
    background-color: purple;
    font-size: 22px;
}
div {
    background-color: gold;
    border-style: solid; 
}
 h1 {color: purple
}
h3 {color: purple
}
h2 {color: purple
}
